@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Hind', sans-serif;
  background: #f9f6f2;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
  align-self: flex-start;
}

.accordion {
  .accordion-item {
    background-color: #f7db87;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    button[aria-expanded='true'] {
      border-bottom: 1px solid #000000;
    }
  }
  button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #000000;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    &:hover, &:focus {
      cursor: pointer;
      color: #000000;
      &::after {
        cursor: pointer;
        color: #000000;
        border: 1px solid #000000;
      }
    }
    .accordion-title {
      padding: 1em 1.5em 1em 0;
    }
    .icon {
      display: inline-block;
      position: absolute;
      top: 18px;
      right: 0;
      width: 22px;
      height: 22px;
      border: 1px solid;
      border-radius: 22px;
      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }
  button[aria-expanded='true'] {
    color: #000000;
    .icon {
      &::after {
        width: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    p {
      font-size: 1rem;
      font-weight: 300;
      margin: 2em 0;
    }
  }
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.nueva-pregunta, .contactanos {
  flex: 1;
  padding: 1rem;
  border-radius: 10px;
}

.nueva-pregunta {
  background-color: #2f5597;
  color: white;
}

.nueva-pregunta, .contactanos {
  flex: 1;
  max-width: calc(50% - 10px); /* Asegura que cada sección ocupe la mitad del espacio menos la mitad del gap */
  padding: 1rem;
  border-radius: 10px;
}

.contactanos {
  background-color: #ffd1dc;
  position: relative;
  text-align: center;
}

.franja {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffb6c1;
}

.contacto-contenido p {
  margin: 0.5em 0;
  position: relative;
  z-index: 1;
  background-color: #ffd1dc;
  display: inline-block;
  padding: 0 10px;
}

input[type="text"], button[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

button[type="submit"] {
  background-color: #00b050;
  color: white;
  border: none;
  cursor: pointer;

}

